{% extends 'layout.html.twig' %}

{% block title %}Voir la Catégorie{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center text-center">

<h1>{{ categorie.nom }}</h1>
    {% for produit in produits %}
        <div class="card">
            <hr>
            <div>
                <div>{{ produit.titre }}</div>
                <div>{{ produit.description }}</div>
                <div>Tarif : {{ produit.prix }} €</div>
            </div>
            <br>
            <button type="button" class="btn-panier btn-adjust"><a href="{{ path('app_panier_add', {id: produit.id}) }}">Ajouter au Panier</a></button>
        </div>
    {% endfor %}

</div>

{% endblock %}